body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    background-color: coral;
    height: auto;
    width: 300px;
    padding: 5px;
    margin : 10px;
    border-radius: 5px;
}



.box {
    background-color: cadetblue;
    display: inline;
    width: 400px;
    height: auto;
    margin: 10px;
}

.box2 {
    background-color: burlywood;
    display: block;
    width: 300px;
    height: auto;
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}

.box3 { 
    background-color: burlywood;
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}